<div class="container my-5 py-5">
    <h4 class="h4 text-center">Campaign List</h4>
    <div class="container">
        <table class="table table-hover table-striped table-bordered table-responsive">
            <caption>Found <%= listData.length %> campaigns</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Advertisement ID</th>
                <th scope="col">User Email</th>
                <th scope="col">Advertisement Title</th>
                <th scope="col">Advertisement Description</th>
                <th scope="col">Ad Type</th>
                <!--- This may be added in the future
                <th scope="col">Action</th>
                --->
            </tr>
            </thead>
            <tbody>
            <%
            if (listData.length > 0) {
                let i = 1;
                    for (let key in listData) {
            %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= listData[key].adv_id %></td>
                    <td><%= listData[key].adv_user %></td>
                    <td><%= listData[key].adv_title %></td>
                    <%
                        var desc = listData[key].adv_desc;
                        if (desc.length > 200) {
                            desc = desc.slice(0, 200) + '...';
                        }
                    %>
                    <td><%= desc %></td>
                    <td><%= listData[key].adv_type %></td>
                    <!--- This may be added in the future
                    <td><a href="/campaign/details/<%= listData[key].adv_id %>" class="btn btn-secondary">Details</a></td>
                    --->
                </tr>
            <% } } %>
            </tbody>
        </table>
    </div>
</div>
